In [85]:
import pandas as pd

In [86]:
df = pd.read_csv('teste.csv',delimiter=';')

type(df)

pandas.core.frame.DataFrame

In [87]:
df['DATA'] = df['DATA'].apply(lambda x: x[:10])
df['VALOR'] = df['VALOR'].apply(lambda x: x.replace('R$', ''))
df['VALOR'] = df['VALOR'].apply(lambda x: x.replace(',','.'))
df['VALOR'] = df['VALOR'].astype(float)

In [89]:
df =df.groupby('DATA')['VALOR'].sum()

In [91]:
df.to_csv('teste.csv')